/* Header configurations */
header {
  position: sticky;
  top: 0;
  max-width: 100%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}
header #navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 2rem 7rem;
}
header #navBar .logo {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  border-left: transparent solid 2px;
  transition: 0.2s ease-in;
}
header #navBar .logo:hover {
  color: #90f208;
  padding-left: 0.7rem;
  border-left: #f3f1ff solid 2px;
  transition: 0.2s ease-in;
}

header #navBar .navList {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
header #navBar .navList li a {
  border-bottom: transparent solid 2px;
  padding: 5px;
  color: #f3f1ff;
  cursor: pointer;
  transition: border-bottom 0.2s ease-in;
}
header #navBar .navList a:hover {
  border-bottom: #90f208 solid 2px;
  transition: border-bottom 0.2s ease-in;
}