* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #f3f1ff;
}
body {
  background-color: #252422;
}
h1 {
  font-size: 2.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #90f208;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #90f208;
  margin-bottom: 1rem;
}
ul, li, a {
  text-decoration: none;
  list-style-type: none;
  color: #f3f1ff;
}
input, textarea {
  outline: none;
}
/* 
  Configuração dos breakpoints da página:

  - A configuração padrão da página é usar 100% da tela
  - Os breakpoints são aplicados quando a tela for menor que 1279px

  Cada componente tem sua própria estrutura e configuração de breakpoints, consulte os arquivos do componente e veja elas.

*/

/* Breakpoint 1: 1024px - 1279px */
@media all and (min-width: 1024px) and (max-width: 1279px) {}

/* Breakpoint 2: 768px - 1024px */
@media all and (min-width: 768px) and (max-width: 1024px) {}

/* Breakpoint 3: 480px - 768px*/
@media all and (min-width: 480px) and (max-width: 768px) {}

/* Breakpoint 4: < 480px */
@media all and (max-width: 480px) {}